html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    /* z-index: 0; */
}

.arc-container {
    position: relative;
    width: 520px;
    height: 520px;
    /* z-index: 1; */
}

.arc {
    position: absolute;
    /* top: 0;
    left: 0; */
    transform: rotate(-234deg);
}

.arc-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* text-align: center; */
    color: white;
}

.time {
    font-size: 5.2rem;
    font-weight: 600;
}

.label {
    margin-top: 8px;
    font-size: 2rem;
    opacity: 0.85;
}

.controls {
    margin-top: 26px;
    display: flex;
    gap: 14px;
}

button {
    padding: 10px 26px;
    font-size: 1.05rem;

    border-radius: 30px;
    border: 1.5px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}

.custom {
    display: flex;
    gap: 10px;
    margin-top: 14px;
}

.custom input {
    width: 160px;
    padding: 10px 18px;

    font-size: 1.05rem;
    text-align: center;

    border-radius: 999px;
    border: 1.5px solid rgba(255,255,255);
    background: rgba(255,255,255,0.08);
    color: white;

    outline: none;
    backdrop-filter: blur(6px);
}

input::placeholder {
    color: rgba(255,255,255,0.6);
}

.custom input::-webkit-inner-spin-button,
.custom input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* margin: 0; */
}

/* .custom input[type=number] {
    -moz-appearance: textfield;
} */

.alert-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.alert-box {
  background: #1e1e1e;
  color: white;
  padding: 20px 24px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.alert-box button {
  margin-top: 15px;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background: #ff4d4d;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

